@use "@angular/material" as mat;

@mixin key-value-component-theme($theme) {

  @if(mat.get-theme-version($theme) == 0) {

    .kvp-key {
      background-color: mat.get-theme-color($theme, primary, 300);
      color: mat.get-theme-color($theme, primary, 900);
    }

    .kvp-value {
      background-color: mat.get-theme-color($theme, background, app-bar);
      color: mat.get-theme-color($theme, primary, 900);
    }
  }
}
