:host {
  display: flex;
  margin-block-end: .25rem;

  .kvp-key {
    align-items: center;
    display: flex;
    max-inline-size: 15rem;
    min-inline-size: 6rem;
    inline-size: 30%;
    margin-block-end: 0;
    padding-inline-start: .25rem;
  }

  .kvp-value {
    align-self: center;
    padding: .25rem;
    width: 70%;
  }
}
