:host {
  display: block;

  header {
    display: flex;
    place-content: center;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }
  }

  .main-nav {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  main {
    margin-block-start: 1rem;
  }
}
