@use "@angular/material" as mat;
@use 'typography' as t;

$light-primary-palette: (
  50: #ffeedb,
  100: #ffd4b4,
  200: #ffb787,
  300: #fe9b5a,
  400: #fe8b3e,
  500: #fe7f2d, // primary
  600: #f57729,
  700: #e96b22,
  800: #de601c,
  900: #cc4b11,
  A100: #ffd8c1,
  A200: #ffb187,
  A400: #ff8b4d,
  A700: #ff762f,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* Light Accent */
$light-accent-palette: (
  50: #e7d3d8,
  100: #c2a6b3,
  200: #996385,
  300: #73415f,
  400: #522e44,
  500: #320a28, // accent
  600: #2d091f,
  700: #280817,
  800: #23070e,
  900: #1c0504,
  A100: #d694a7,
  A200: #b25f7d,
  A400: #914d64,
  A700: #76394f,
  contrast: (
    50: black,
    100: black,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* Light Warn */
$light-warn-palette: (
  50: #FFF3E0,
  100: #FFE0B2,
  200: #FFCC80,
  300: #FFB74D,
  400: #FFA726, /* Main Warn */
  500: #FF9800,
  600: #FB8C00,
  700: #F57C00,
  800: #EF6C00,
  900: #E65100,
  A100: #FFD180,
  A200: #FFAB40,
  A400: #FF9100,
  A700: #FF6D00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* Light Error */
$light-error-palette: (
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350, /* Main Error */
  500: #D32F2F,
  600: #C62828,
  700: #B71C1C,
  800: #B71C1C,
  900: #B71C1C,
  A100: #FF8A80,
  A200: #FF5252,
  A400: #FF1744,
  A700: #D50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* Light Success */
$light-success-palette: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784, /* Main Success */
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  A100: #B9F6CA,
  A200: #69F0AE,
  A400: #00E676,
  A700: #00C853,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-primary: mat.m2-define-palette($light-primary-palette, 500, 300, 700);
$light-accent: mat.m2-define-palette($light-accent-palette, 500, 300, 500);
$light-warn: mat.m2-define-palette($light-warn-palette, 500, 300, 700);
$light-error: mat.m2-define-palette($light-error-palette, 500, 300, 700);
$light-success: mat.m2-define-palette($light-success-palette, 500, 300, 700);

$m2-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  ),
  typography: t.$custom-typography,
  density: 0
));
