:host {
  --mat-card-subtitle-text-size: 1.125rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;

  .mat-mdc-card {
    max-inline-size: 25rem;
  }

  .card-img {
    margin-block-start: 1rem;
    border-radius:0.5rem;
    align-self: center;
  }

  .card-actions {
    margin-block-end: 0.5rem;
    padding-inline-start: 1rem;
  }
}
