<mat-card appearance="outlined">
  <mat-card-content>Simple card with description content only. No header, sub-header, footer and action buttons.</mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
      from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
      originally bred for hunting.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Madonna</mat-card-title>
    <mat-card-subtitle>Material Girl</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image ngSrc="https://i.pinimg.com/736x/54/98/1c/54981cf43e5eb9391cb51becb0fb99bc.jpg" width="350" height="400" alt="Photo of Madonna">
  <mat-card-content>
    <p>
      "Material Girl" is a song recorded by American singer Madonna for her second studio album Like a Virgin (1984).
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

