@use '@angular/material' as mat;
@use "themes/m3-theme" as m3;
@use "./examples/notification-banner/notifications.component.theme" as notifications;

@mixin custom-components-theme($theme, $error) {
  @include notifications.notifications-banner-theme($theme, $error);
}

@media (prefers-color-scheme: light) {
  html {
    @include mat.core-theme(m3.$light-theme);
    @include mat.all-component-themes(m3.$light-theme);
    @include mat.color-variants-backwards-compatibility(m3.$light-theme);
    @include mat.typography-hierarchy(m3.$light-theme, $back-compat: true);
    @include custom-components-theme(m3.$light-theme, mat.get-theme-color(m3.$light-theme, error));
  }

  .secondary-btn {
    @include mat.button-color(m3.$light-theme, $color-variant: secondary);
  }

  .tertiary-btn {
    @include mat.button-color(m3.$light-theme, $color-variant: tertiary);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @include mat.core-color(m3.$dark-theme);
    @include mat.all-component-colors(m3.$dark-theme);
    @include mat.all-component-densities(m3.$dark-theme);
    @include mat.all-component-typographies(m3.$dark-theme);
    @include mat.color-variants-backwards-compatibility(m3.$dark-theme);
    @include mat.typography-hierarchy(m3.$dark-theme, $back-compat: true);
    @include custom-components-theme(m3.$dark-theme, mat.get-theme-color(m3.$dark-theme, error));

    .secondary-btn {
      @include mat.button-color(m3.$dark-theme, $color-variant: secondary);
    }

    .tertiary-btn {
      @include mat.button-color(m3.$dark-theme, $color-variant: tertiary);
    }
  }
}


/* Reset Styles*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}
