@use '@angular/material' as mat;

@use "themes/light-theme" as lt;
@use "themes/dark-theme" as dt;
@use "./examples/notification-banner/notifications.component.theme" as notifications;

@include mat.core();

@mixin custom-components-theme($theme, $error, $success) {
  @include notifications.notifications-banner-theme($theme, $error, $success);
}

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes(lt.$light-theme);
  @include custom-components-theme(lt.$light-theme, lt.$light-error, lt.$light-success);
  html {
    --mdc-filled-button-container-color: #{mat.get-color-from-palette(lt.$light-primary, 100)};
    --mdc-filled-button-label-text-color: #{mat.get-color-from-palette(lt.$light-primary, 700)};
  }
  .mat-mdc-unelevated-button:not(:disabled):hover {
    --mdc-filled-button-container-color: #{mat.get-color-from-palette(lt.$light-primary, 700)};
    --mdc-filled-button-label-text-color: #{mat.get-color-from-palette(lt.$light-primary, 100)};
  }

  .mat-mdc-unelevated-button:not(:disabled).active {
    --mdc-filled-button-container-color: #{mat.get-color-from-palette(lt.$light-primary, 700)};
    --mdc-filled-button-label-text-color: #{mat.get-color-from-palette(lt.$light-primary, 100)};
  }

}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors(dt.$dark-theme);
  @include custom-components-theme(dt.$dark-theme, dt.$dark-error, dt.$dark-success);
  html {
    --mat-app-background-color: #0f333d;
    --mat-app-text-color: #C0EAF5;
    --mdc-filled-button-container-color: #{mat.get-color-from-palette(dt.$dark-theme, 100)};
    --mdc-filled-button-label-text-color: #{mat.get-color-from-palette(dt.$dark-theme, 700)};
    --mat-filled-button-hover-state-layer-opacity: 0;
  }

}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 1rem;
  box-sizing: border-box;
}
