@use '@angular/material' as mat;

@use "themes/light-theme" as lt;
@use "themes/dark-theme" as dt;
@use "themes/typography" as t;
@use "./examples/notification-banner/notifications.component.theme" as notifications;

@include mat.typography-hierarchy(t.$custom-typography);

@mixin custom-components-theme($theme, $error, $success) {
  @include notifications.notifications-banner-theme($theme, $error, $success);
}

@media (prefers-color-scheme: light) {
  @include mat.core-theme(lt.$m2-light-theme);
  @include mat.all-component-themes(lt.$m2-light-theme);
  @include custom-components-theme(lt.$m2-light-theme, lt.$light-error, lt.$light-success);
}

@media (prefers-color-scheme: dark) {
  @include mat.core-color(dt.$m2-dark-theme);
  @include mat.all-component-colors(dt.$m2-dark-theme);
  @include mat.all-component-densities(dt.$m2-dark-theme);
  @include mat.all-component-typographies(dt.$m2-dark-theme);
  @include custom-components-theme(dt.$m2-dark-theme, dt.$dark-error, dt.$dark-success);
  @include dt.dark-theme-overrides;
}


/* Reset Styles*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}
