<div class="row">
  <button mat-stroked-button class="error" (click)="error()">Error</button>
  <div class="mat-body-2">Error notification Snackbar</div>
</div>
<div class="row">
  <button mat-stroked-button class="warn" (click)="warn()">Warn</button>
  <div class="mat-body-2">Warning Notification Snackbar</div>
</div>
<div class="row">
  <button mat-stroked-button class="info" (click)="info()">Info</button>
  <div class="mat-body-2">Info Notification Snackbar</div>
</div>
<div class="row">
  <button mat-stroked-button class="success" (click)="success()">Success</button>
  <div class="mat-body-2">Success Notification Snackbar</div>
</div>
