<section class="container">
  <div class="row">
    <button mat-stroked-button class="info" (click)="info()">Info</button>
    <p>Info Notification Snackbar</p>
  </div>
  <div class="row">
    <button mat-stroked-button class="success" (click)="success()">Success</button>
    <p>Success Notification Snackbar</p>
  </div>
  <div class="row">
    <button mat-stroked-button class="warn" (click)="warn()">Warn</button>
    <p>Warning Notification Snackbar</p>
  </div>
  <div class="row">
    <button mat-stroked-button class="error" (click)="error()">Error</button>
    <p>Error notification Snackbar</p>
  </div>
</section>
